<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.twitch.android.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".run.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/mod_settings_label" android:launchMode="singleTop" android:name="tv.twitch.android.mod.activities.Settings" android:theme="@style/Theme.Twitch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>
    </application>
</manifest>